/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

--- 02 COLORS

- Primary: 
#333
#f4f8f5
#fffffff2
#839788
#fff
#aeca63
#555
overlay: #00000099
modal: #edf1ee
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  overflow-x: hidden;
  background-color: #f4f8f5;
  user-select: none;
}

.header {
  height: 9rem;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section {
  transition: transform 1s, opacity 1s;
}
/**************************/
/* NAVIGATION */
/**************************/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  width: 100%;
  height: 9rem;
  padding: 0 4.8rem;
  z-index: 5;
}

.nav.sticky {
  position: fixed;
  background-color: #fffffff2;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.name:link,
.name:visited {
  text-decoration: none;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
  text-transform: uppercase;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.4rem;
  width: 4.4rem;
  color: #333;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}
/**************************/
/* ABOUT */
/**************************/

.section-about {
  padding: 5rem 4.8rem 10.4rem 4.8rem;
  min-height: 100vh;
}

.about {
  max-width: 130rem;
  display: block;
  align-items: center;
}

.section-about h1 {
  font-size: 5.2rem;
  margin-top: 4.2rem;
  margin-bottom: 4.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.about-text-col {
  font-size: 1.8rem;
  line-height: 1.4;
  max-width: 80%;
  text-align: justify;
  letter-spacing: 0.2rem;
}

.about-text-col p {
  padding-bottom: 3.2rem;
}

.col-2 p {
  margin-bottom: 3.2rem;
}

.btn-contact {
  text-decoration: none;
  background-color: #839788;
  color: #fff;
  border: solid 1px #fff;
  padding: 2rem;
  border-radius: 9px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
.btn-contact:hover {
  text-decoration: none;
  color: #333;
  border: solid 1px #333;
  background-color: #fffffff2;
}

/**************************/
/* INVESTMENTS */
/**************************/

.section-investments {
  background-color: #fff;
  padding: 0 4.8rem 12rem 4.8rem;
}
.section-title {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
  padding-top: 12rem;
  padding-bottom: 8rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(13, 4.5vw);
  gap: 0.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  object-fit: cover;
}

.img-1 {
  grid-row: 1 / span 2;
  grid-column: 1 / 2;
}
.img-2 {
  grid-row: 3 / span 4;
  grid-column: 1 / 2;
}
.img-3 {
  grid-row: 7 / span 2;
  grid-column: 1 / 2;
}
.img-4 {
  grid-row: 9 / span 2;
  grid-column: 1 / 2;
}
.img-5 {
  grid-row: 11 / span 2;
  grid-column: 1 / 2;
}
.img-6 {
  grid-row: 13 / span 2;
  grid-column: 1 / 2;
}
.img-7 {
  grid-row: 1 / span 4;
  grid-column: 2 / 2;
}
.img-8 {
  grid-row: 5 / span 2;
  grid-column: 2 / 2;
}
.img-9 {
  grid-row: 7 / span 2;
  grid-column: 2 / 2;
}
.img-10 {
  grid-row: 9 / span 4;
  grid-column: 2 / 2;
}
.img-11 {
  grid-row: 13 / span 2;
  grid-column: 2 / 2;
}
.img-12 {
  grid-row: 1 / span 2;
  grid-column: 3 / 3;
}
.img-13 {
  grid-row: 3 / span 4;
  grid-column: 3 / 3;
}
.img-14 {
  grid-row: 7 / span 4;
  grid-column: 3 / 3;
}
.img-15 {
  grid-row: 11 / span 2;
  grid-column: 3 / 3;
}
.img-16 {
  grid-row: 13 / span 2;
  grid-column: 3 / 3;
}
.img-17 {
  grid-row: 1 / span 4;
  grid-column: 4 / 4;
}
.img-18 {
  grid-row: 5 / span 2;
  grid-column: 4 / 4;
}
.img-19 {
  grid-row: 7 / span 4;
  grid-column: 4 / 4;
}
.img-20 {
  grid-row: 11 / span 2;
  grid-column: 4 / 4;
}
.img-21 {
  grid-row: 13 / span 2;
  grid-column: 4 / 4;
}
.img-22 {
  grid-row: 1 / span 4;
  grid-column: 5 / 5;
}
.img-23 {
  grid-row: 5 / span 2;
  grid-column: 5 / 5;
}
.img-24 {
  grid-row: 7 / span 4;
  grid-column: 5 / 5;
}
.img-25 {
  grid-row: 11 / span 2;
  grid-column: 5 / 5;
}
.img-26 {
  grid-row: 13 / span 2;
  grid-column: 5 / 5;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: #00000099;
  transition: all 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  transition: all 0.4s linear;
  object-fit: cover;
}
.hovereffect h2 {
  height: 25%;
  width: 90%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: 400;
  margin: auto;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 1.5rem;
  /* background: rgba(0, 0, 0, 0.6); */
  border-bottom: 0.01rem solid #fff;
  top: 22.5%;
  transform: translatey(-100px);
  transition: all 0.2s ease-in-out;
}

.btn_info {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: center;
  letter-spacing: 0.2rem;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: 0.01rem solid #fff;
  /* opacity: 0; */
  transition: all 0.2s ease-in-out;
  padding: 1.2rem 2.4rem;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hovereffect .btn_info:hover {
  box-shadow: 0 0 0.5rem #fff;
}

.hovereffect:hover img {
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
}

.hovereffect:hover .btn_info {
  opacity: 1;
}

.hovereffect:hover h2 {
  opacity: 1;
  transform: translatey(0);
}

.hovereffect:hover .info {
  transition-delay: 0.1s;
}

.close-info {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  background-color: #edf1ee;
  padding: 4.6rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  /* filter: blur(3px) !important; */
  z-index: 10;
}

.modal-info h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 6.6rem;
  text-transform: uppercase;
}
.info-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.4rem;
  row-gap: 1.8rem;
  justify-content: center;
}

/* .visible {
  opacity: 1;
  pointer-events: all;
} */

/**************************/
/* CV */
/**************************/
.section-cv {
  padding: 0 4.8rem 12rem 4.8rem;
}
/**************************/
/* EXPERIENCE */
/**************************/
.subsection-title {
  /* margin: 4.8rem; */
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  padding-bottom: 5.2rem;
}

.subsection-experience {
  max-width: 130rem;
  padding-bottom: 10.4rem;
  align-items: center;
}

.experience-container {
  width: 80%;
  border-top: solid #333 0.5px;
  line-height: 2.2rem;
}

.experience-container:last-child {
  border-bottom: solid #333 0.5px;
}

.experience-small {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.1fr;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1.6rem;
}

.experience-full {
  justify-content: space-between;
  padding: 2rem;
  font-size: 1.6rem;
  width: 90%;
  transition: max-height 0.2s ease-out;
}

.icon {
  height: 1.6rem;
  width: 1.6rem;
}

.open-btn {
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  transition: 0.4s;
}
.close-btn {
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.responsibilities {
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
  font-weight: 600;
}

.projects {
  margin-top: 3.6rem;
}
.project {
  margin-bottom: 2rem;
}

.project--1 {
  font-weight: 600;
}

.subsection-qualifications {
  max-width: 100rem;
  margin: 1rem auto 0 auto;
}

.slide-container-tab {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  color: #333;
  font-size: 1.6rem;
  border: none;
  font-weight: 700;
  padding: 1.25rem 4.5rem;
  cursor: pointer;
  transition: all 0.3s;
  border: solid 1.5px #aeca63;
}

.slide_tab {
  margin-right: 1.5rem;
  /* transform: translateY(-50%); */
  width: 25rem;
  border-radius: 10rem;
  justify-content: center;
}

.slide_tab--4 {
  margin: 0;
}

.slide-tab:hover{
  background-color: #aeca63;
}


.slide_tab-active {
  transform: translateY(-30%);
  background-color: #aeca63;
}

.slide_content {
  display: none;
  transition: transform 0.5s ease-out;
  justify-content: center;
}


.slide_content--active {
  display: block;
  padding: 12rem 8rem 0 8rem;
}

.education {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 3fr;
  font-size: 1.6rem;
  column-gap: 10rem;
  padding:0 6rem 3rem 10rem;
  letter-spacing: 0.1rem;
}

.education p {
  margin-bottom: 1rem;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.6rem;
  column-gap: 8rem;
  letter-spacing: 0.1rem;
}


.skills p {
  margin-bottom: 1.2rem;
}

.skills p:first-child {
  margin-bottom: 3rem;
  font-size: 1.8rem;
}

.hobby {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 2.8rem;
  column-gap: 8rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.icon-hobby{
  height: 10rem;
  width: 10rem;
  margin-bottom: 4.2rem;
  margin-top: 4.2rem;
}


/**************************/
/* FOOTER */
/**************************/

.footer {
  /* overflow: hidden; */
  padding: 8rem 4.8rem 6rem 4.8rem;
  height: auto;
  color: #fff;
  background-color: #839788;
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 4rem;
}

.copyright {
  display: grid;
  font-size: 1rem;
  align-self: center;
  gap: 2.4rem;
}

.copyright a {
  color: #fff;
}

.contact-info {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: space-between;
}

.contact-info p{
  padding-bottom: 2.2rem;
}

.phone,
.email {
  cursor: pointer;
  padding-top: 1rem;
  text-decoration: none;
  color: #fff;
}

.phone:hover,
.email:hover {
  color: #555;
}
.data {
  font-size: 1.4rem;
  font-weight: 500;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 0.3s;
  color: #fff;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
