/* Below 1344 px (smaller desktops */

@media (max-width: 84em) {
  .section-about {
    max-width: 120rem;
  }
  .section-about h1 {
    font-size: 4.4rem;
  }

  .section-cv {
    max-width: 120rem;
  }
}

/* Below 1200px (Lanscape tablets) */

@media (max-width: 75rem) {
  html {
    font-size: 56.25%;
  }
  .section-about h1 {
    font-size: 3.6rem;
  }
  /* .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  } */
}

/* Below 944px (Tablets) */
@media (max-width: 59rem) {
  html {
    font-size: 50%;
  }
  .btn-mobile-nav {
    display: block;
  }
  .main-nav-list {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-100%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav-list {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .gallery-section {
    flex: 50%;
    max-width: 50%;
  }
}

/* Below 704px (Small Tablets) */
@media (max-width: 44em) {
  html {
    font-size: 45%;
  }
  #name {
    font-size: 2rem;
  }

  .section-about {
    text-align: center;
  }
  .about-text-col {
    max-width: 100%;
  }
  .btn-contact {
   display: inline-block;
   text-align: center;
  
  }


  .experience-container {
    width: 100%;
  }
  .experience-small {
    padding: 1.5rem;
    font-size: 1.7rem;
    /* text-align: center; */
    gap: 4rem;
  }

  .experience-full {
    width: 100%;
  }
}
